*{
    margin:0;
}
body{
    background-image: url("pattern.png");
}
h1{
    height:5.6rem;
    padding-top: 2.1rem;    
    color :rgb(255, 255, 255);
    font-size: 3rem;
    text-align: center;
    font-family: "Bradley Hand ITC";
    
}

.imgs{
    width:90%;
    margin:auto;
}
.player,.computer,.score{
    display:inline-block;
    border-radius: 1rem;
}
.player{
    margin-left: 5%;
}
.computer{
    float:right;
    margin-right:5%;
}


img{
    margin-top: 0.5rem;
    border-radius: 1rem;
}


h2{
    margin-top: 1rem;
    color:rgb(168, 252, 255);
    font-size: 2.5rem;
    text-align:center;
    font-family: "Bradley Hand ITC";
}

.btns{
    width:80%;
    margin:auto;
    align-items: center;
}
button{
    padding:1rem;
    background-color: rgb(106, 230, 255);
    width:22.5%;
    height:20%;
    margin:4rem;
    border-radius: 0.5rem;
    border-width: 0rem;
    
    
    
}

button:hover{
    background-color: rgb(4, 158, 189);
    cursor: pointer;
}
.score{
    position:absolute;
    margin-top:3rem;
    margin-left:7rem;
    width:40%;
    
    border-width:0.5rem;
    border-color: black;
    text-align: center;

}
div.score>span{
    padding-left:2rem;
    padding-right:2rem;
    border-radius: 0.5rem;
    background-color: skyblue;
    font-size: 6rem;
    font-family: "Bradley Hand ITC";
    text-align: center;
    color:rgb(38, 3, 154);
    
}